@font-face {
  font-family: 'icomoon';
  src: url("icomoon/icomoon.eot?srf3rx");
  src: url("icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("icomoon/icomoon.ttf?srf3rx") format("truetype"), url("icomoon/icomoon.woff?srf3rx") format("woff"), url("icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {font-family: "Space Mono", Arial, serif;font-weight: 400;font-size: 16px;line-height: 1.7;color: #4d4d4d;background: #fff;}

a {-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
  
a:hover, a:active, a:focus {outline: none;text-decoration: none;}
  
p {margin-bottom: 30px;}

h1, h2, h3, h4, h5, h6, figure {color: #000;font-family: "Space Mono", Arial, serif;font-weight: 400;margin: 0 0 20px 0;}
#page {position: relative;overflow-x: hidden;width: 100%;height: 100%;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}

#qdy-header {background-color: transparent;background-size: cover;background-attachment: fixed;position: relative;width: 100%;}


#qdy-header .overlay {position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
#qdy-header .display-t{width: 100%;display: table;}
.display-tc {display: table-cell;vertical-align: middle;}
.display-tc h1,.display-tc h2,.display-tc h3 {margin: 0;padding: 0;color: white;}
.display-tc h1 {font-family: "Kaushan Script", cursive;margin-bottom: 30px;font-size: 50px;line-height: 1.3;font-weight: 300;-webkit-transform: rotate(-5deg);-moz-transform: rotate(-5deg);-ms-transform: rotate(-5deg);-o-transform: rotate(-5deg);transform: rotate(-5deg);}
.display-tc h1 span {padding: 4px 15px;position: relative;}
.display-tc h1 span:after,.display-tc h1 span:before {position: absolute;top: 40px;width: 30px;height: 4px;content: '';background: #fff;margin-right: -30px;}
.display-tc h1 span:before{left:-20px;}
.display-tc h1 span:after {right: 0;}
.display-tc h2 {font-size: 20px;line-height: 1.5;margin-bottom: 30px;}
.display-tc h3 {font-size: 16px;}

.display-tc .profile-thumb {background-size: cover !important;background:url(../images/user-3.jpg) no-repeat center center;position: relative;height: 200px;width: 200px;margin: 0 auto;margin-bottom: 30px;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;}
.display-tc .qdy-social-icons li a {color: #fff;}
.display-tc .qdy-social-icons li a i {font-size: 30px;}

#qdy-features h2 {color: #fff;}
#qdy-features .services-padding {padding: 7em 0;}
#qdy-features .feature-left {margin-bottom: 40px;float: left;}

#qdy-features .feature-left .icon {display: table;text-align: center;width: 100px;height: 100px;margin: 0 auto;background: #fff;margin-bottom: 20px;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;}
#qdy-features .feature-left .icon i {font-size: 50px;display: table-cell;vertical-align: middle;height: 100px;}
#qdy-features .feature-left .feature-copy {width: 100%;}
#qdy-features .feature-left h3 {font-size: 24px;font-weight: 400;color: #fff;}
#qdy-features .feature-left p {font-size: 16px;color: rgba(255, 255, 255, 0.7);}
#qdy-features .feature-left p:last-child {margin-bottom: 0;}
#qdy-features .feature-left p a {color: #000 !important;}

#qdy-about,#qdy-resume,#qdy-skills,#qdy-started,#qdy-work,#qdy-blog,#qdy-pricing,#qdy-contact {padding: 7em 0;clear: both;}

#qdy-started {border-bottom: none;}

.qdy-bg-dark .qdy-heading h2 {color: #fff !important;}

.info {margin: 0;padding: 0;width: 90%;float: left;}

.info li {width: 100%;float: left;list-style: none;padding: 10px 0;}
.info li:first-child {padding-top: 0;}
.info li .first-block {width: 40%;float: left;color: #000;font-weight: bold;}
.info li .second-block {width: 60%;display: inline-block;color: rgba(0, 0, 0, 0.5);}

.qdy-social-icons {margin: 0;padding: 0;}
.qdy-social-icons li {margin: 0;padding: 0;list-style: none;display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;}
.qdy-social-icons li a {display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;padding-left: 10px;padding-right: 10px;}
.qdy-social-icons li a i {font-size: 20px;}

#qdy-about .qdy-social-icons {margin: 0;padding: 0;}
#qdy-about .qdy-social-icons li {padding: 0;list-style: none;display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;}
#qdy-about .qdy-social-icons li a {display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;color: #fff;background: #2F3C4F;padding: 10px 10px 2px 10px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;border-radius: 2px;}
#qdy-about .qdy-social-icons li a i {font-size: 20px;}

.qdy-heading {margin-bottom: 5em;}
.qdy-heading.qdy-heading-sm {margin-bottom: 2em;}
.qdy-heading h2 {font-size: 40px;margin-bottom: 20px;line-height: 1.5;color: #000;}
.qdy-heading p {font-size: 18px;line-height: 1.5;color: #828282;}
.qdy-heading span {display: block;margin-bottom: 10px;text-transform: uppercase;font-size: 12px;letter-spacing: 2px;}

.timeline {list-style: none;padding: 20px 0 20px;position: relative;}
.timeline:before {top: 20px;bottom: 0;position: absolute;content: " ";width: 2px;background-color: #e6e6e6;left: 50%;margin-left: 0px;}

.timeline .timeline-heading > div h3 {display: inline-block;padding: 7px 15px;font-size: 18px;text-transform: uppercase;letter-spacing: 5px;font-weight: bold;background: #e6e6e6;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px;}

.timeline > li {margin-bottom: 20px;position: relative;}
.timeline > li:before, .timeline > li:after {content: " ";display: table;}
.timeline > li:after {clear: both;}
.timeline > li > .timeline-panel {width: 45%;float: left;margin-bottom: 0;position: relative;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px;}

.timeline > li > .timeline-badge {color: #fff;width: 44px;height: 44px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 40px;left: 50%;margin-left: -21px;z-index: 100;display: table;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;}

.timeline > li > .timeline-badge i {display: table-cell;vertical-align: middle;height: 44px;font-size: 18px;}
.timeline > li.timeline-unverted {text-align: right;}
.timeline > li.timeline-inverted > .timeline-panel {float: right;}
.timeline > li.timeline-inverted > .timeline-panel:before {border-left-width: 0;border-right-width: 15px;left: -15px;right: auto;}
.timeline > li.timeline-inverted > .timeline-panel:after {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;}

.timeline-title {margin-top: 0;}

.company {display: block;margin-bottom: 20px;font-size: 16px;font-weight: normal;color: #bfbfbf;}

.timeline-body > p,.timeline-body > ul {margin-bottom: 0;}

.timeline-body > p + p {margin-top: 5px;}

.progress-wrap {width: 100%;float: left;margin-bottom: 10px;}
.progress-wrap h3 {font-size: 16px;display: block;margin-bottom: 10px;float: left;width: 100%;}
.progress-wrap h3 .name-left {float: left;}
.progress-wrap h3 .value-right {float: right;}

.progress {width: 100%;float: left;height: 5px;box-shadow: none;}

.progress-bar {background-color: #2F3C4F;height: 5px;display: block;box-shadow: none;}
.progress-bar.progress-bar-1 {background-color: #2980b9 !important;}
.progress-bar.progress-bar-2 {background-color: #c0392b !important;}
.progress-bar.progress-bar-3 {background-color: #d35400 !important;}
.progress-bar.progress-bar-4 {background-color: #8e44ad !important;}
.progress-bar.progress-bar-5 {background-color: #27ae60 !important;}

.chart {width: 160px;height: 160px;margin: 0 auto 40px auto;position: relative;text-align: center;}
.chart span {position: absolute;top: 50%;left: 0;margin-top: -30px;width: 100%;}
.chart span strong {display: block;}
.chart canvas {position: absolute;left: 0;top: 0;}

.work {background-size: cover;background-position: center center;background-repeat: no-repeat;position: relative;height: 270px;width: 100%;display: table;overflow: hidden;}

.work .desc {display: table-cell;vertical-align: middle;height: 270px;background: #fff;opacity: 0;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.work .desc h3 {font-size: 20px;-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;transition: transform 0.3s, opacity 0.3s;-webkit-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0);}
.work .desc span {display: block;color: #999999;font-size: 14px;-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;transition: transform 0.3s, opacity 0.3s;-webkit-transform: translate3d(0, 15px, 0);transform: translate3d(0, 15px, 0);}

.work:hover .desc { opacity: 1;}
.work:hover .desc h3 {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.work:hover .desc span {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}

#qdy-started {position: relative;float: left;width: 100%;}
#qdy-started .qdy-heading {margin-bottom: 0;}
#qdy-started .qdy-heading h2 { color: #fff;margin-bottom: 20px !important;}
#qdy-started .qdy-heading p {color: rgba(255, 255, 255, 0.8);}
#qdy-started .btn {height: 54px;border: none !important;background: #fff;font-size: 16px;text-transform: uppercase;font-weight: 400;padding-left: 50px;padding-right: 50px;}

.qdy-blog {width: 100%;float: left;margin-bottom: 40px;}

.qdy-blog .blog-bg {display: block;width: 100%;background-size: cover;background-position: center center;background-repeat: no-repeat;position: relative;height: 300px;}

.qdy-blog .blog-text {margin-bottom: 30px;position: relative;width: 100%;padding: 30px;float: left;background: #fff;-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}

.qdy-blog .blog-text span {display: inline-block;margin-bottom: 20px;font-size: 18px !important;color: rgba(0, 0, 0, 0.3);}
.qdy-blog .blog-text .stuff {margin: 0;padding: 0;border-top: 1px solid rgba(0, 0, 0, 0.05);padding-top: 20px;}
.qdy-blog .blog-text .stuff li {list-style: none;display: inline-block;margin-left: 10px;}

.qdy-blog .blog-text .stuff li:first-child {margin-left: 0;}
.qdy-blog .blog-text .stuff li:last-child {float: right;}
.qdy-blog .blog-text .stuff li:last-child a {color: #000;}
.qdy-blog .blog-text .stuff li:last-child i {padding-right: 0;padding-left: 10px;}
.qdy-blog .blog-text .stuff li i {font-size: 14px;padding-right: 5px;}
.qdy-blog .blog-text h3 {font-size: 24px;margin-bottom: 20px;line-height: 1.5;}
.qdy-blog .blog-text h3 a {color: black;}

#qdy-consult {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;width: 100%;float: left;}

#qdy-consult .video {background: url(../images/cover_bg_1.jpg) no-repeat center bottom;height:100%;background-size:cover;position: relative;display: flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;}

#qdy-consult .choose {padding: 2em;}

.qdy-video {overflow: hidden;}

.qdy-video .overlay {position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, 0.1);-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}

.contact-info {margin-bottom: 4em;padding: 0;}
.contact-info li {list-style: none;margin: 0 0 20px 0;position: relative;padding-left: 40px;color: #000;}
.contact-info li i {position: absolute;top: .3em;left: 0;font-size: 22px;color: rgba(0, 0, 0, 0.3);}
.contact-info li a {color: #000;}

.form-control {background: transparent;height: 54px;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;border: none;border: 2px solid rgba(0, 0, 0, 0.1);font-size: 18px;font-weight: 300;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px;}
.form-control:focus, .form-control:active {box-shadow: none;border: 2px solid rgba(0, 0, 0, 0.8);outline: none;}

input[type="text"] {height: 50px;}

.form-group {margin-bottom: 30px;}

.gototop {position: fixed;bottom: 20px;right: 20px;z-index: 999;opacity: 0;visibility: hidden;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
.gototop.active {opacity: 1;visibility: visible;}
.gototop a {width: 50px;height: 50px;display: table;background: rgba(0, 0, 0, 0.8);color: #fff!important;text-align: center;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;}
.gototop a i {height: 50px;display: table-cell;vertical-align: middle;}
.gototop a:hover, .gototop a:active, .gototop a:focus {text-decoration: none;outline: none;}

.btn {margin-right: 4px;margin-bottom: 4px;font-family: "Space Mono", Arial, serif;font-size: 16px;font-weight: 400;-webkit-border-radius: 30px;-moz-border-radius: 30px;-ms-border-radius: 30px;border-radius: 30px;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;padding: 8px 20px;}
.btn.btn-md {padding: 8px 20px !important;}
.btn.btn-lg {padding: 18px 36px !important;}
.btn:hover, .btn:active, .btn:focus {box-shadow: none !important;outline: none !important;}

.btn-primary {color: #fff;}
.btn-primary.btn-outline {background: transparent;}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {color: #fff;}

.btn-success {background: #5cb85c;color: #fff;border: 2px solid #5cb85c;}
.btn-success:hover, .btn-success:focus, .btn-success:active {background: #4cae4c !important;border-color: #4cae4c !important;}
.btn-success.btn-outline {background: transparent;color: #5cb85c;border: 2px solid #5cb85c;}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {background: #5cb85c;color: #fff;}

.btn-info {background: #5bc0de;color: #fff;border: 2px solid #5bc0de;}
.btn-info:hover, .btn-info:focus, .btn-info:active {background: #46b8da !important;border-color: #46b8da !important;}
.btn-info.btn-outline {background: transparent;color: #5bc0de;border: 2px solid #5bc0de;}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {background: #5bc0de;color: #fff;}

.btn-warning {background: #f0ad4e;color: #fff;border: 2px solid #f0ad4e;}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {background: #eea236 !important;border-color: #eea236 !important;}
.btn-warning.btn-outline {background: transparent;color: #f0ad4e;border: 2px solid #f0ad4e;}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {background: #f0ad4e;color: #fff;}

.btn-danger {background: #d9534f;color: #fff;border: 2px solid #d9534f;}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {background: #d43f3a !important;border-color: #d43f3a !important;}
.btn-danger.btn-outline {background: transparent;color: #d9534f;border: 2px solid #d9534f;}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {background: #d9534f;color: #fff;}

.btn-outline {background: none;border: 2px solid gray;font-size: 16px;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {box-shadow: none;}

.btn.with-arrow {position: relative;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.btn.with-arrow i {visibility: hidden;opacity: 0;position: absolute;right: 0px;top: 50%;margin-top: -8px;-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.btn.with-arrow:hover {padding-right: 50px;}
.btn.with-arrow:hover i {color: #fff;right: 18px;visibility: visible;opacity: 1;}


.row-pb-md {padding-bottom: 4em !important;}

.row-pb-sm {padding-bottom: 2em !important;}

.nopadding {padding: 0 !important;margin: 0 !important;}

.col-padding {padding: 6px !important;margin: 0px !important;}

.qdy-loader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(../images/loader.gif) center no-repeat #fff;}

.js .animate-box {opacity: 0;}

form label {font-weight: normal !important;}
form label.error {color: #B90B0B;font-size: 16px !important;}

#message {resize: vertical;}

#form-message-warning, #form-message-success {display: none;}

#form-message-warning {color: #B90B0B;}

#form-message-success {color: #55A44E;font-size: 18px;font-weight: bold;}

.submitting {float: left;width: 100%;padding: 10px 0;display: none;font-weight: bold;font-size: 16px;}

@media screen and (max-width: 992px) {
  #qdy-features .feature-left {margin-bottom: 30px!important;}
  .timeline > li > .timeline-badge {margin-left: -10px !important;}
  ul.timeline:before {left: 90px;}
  ul.timeline > li > .timeline-panel {float: right;width: calc(100% - 200px);width: -moz-calc(100% - 200px);width: -webkit-calc(100% - 200px);}
  ul.timeline > li > .timeline-badge {left: 15px;margin-left: 0!important;top: 16px;}
  #qdy-consult .choose{padding:1em!important;}
}
@media screen and (max-width: 768px) {
  #qdy-header .display-tc h1{font-size: 34px;}
  #qdy-header .display-tc h1 span:before{top: 28px;width: 20px;height: 3px;left: -10px;}
  #qdy-header .display-tc h1 span:after{top: 28px;width: 20px;height: 3px;margin-right: -15px;}
  #qdy-header .display-tc h3{font-size: 14px;}
  #qdy-about,#qdy-resume,#qdy-skills,#qdy-started,#qdy-work,#qdy-blog,#qdy-pricing,#qdy-contact,#qdy-features .services-padding {padding: 3em 0!important;}
  .info {margin-bottom: 3em!important;}
  ul.timeline:before {margin-left: -64px;}
  .timeline .timeline-heading {margin-bottom: 30px;}
  .timeline .timeline-heading > div h3 {float: left;margin-bottom: 0;}
  .timeline > li {margin-bottom: 4em;}
  .timeline > li > .timeline-panel {width: 85% !important;}
  .timeline > li > .timeline-badge {margin-left: -10px !important;}
  .timeline > li.timeline-unverted {text-align: left!important;}
  .work .desc {opacity: 1!important;background: rgba(151, 93, 93, 0.6)!important;}
  .qdy-blog .blog-text {padding: 10px!important;}
  .qdy-blog .blog-text .stuff li {font-size: 14px;}
  #qdy-consult .choose {padding: 4em 1em!important;}
  #qdy-consult .video {height: 450px!important;}
  .qdy-heading{margin-bottom:2em!important;}
}
@media screen and (max-width: 480px) {
    .timeline > li > .timeline-panel {width: 75% !important;}
  }
  
  