a {color: #E84545;}
a:hover, a:active, a:focus {color: #E84545;}
::-webkit-selection,::-moz-selection,::selection{background: #E84545;}

#qdy-header .overlay {background: rgba(232, 69, 69, 0.9);}
#qdy-features {background: #E84545;}
#qdy-features .feature-left .icon i {color: #E84545 !important;}
.qdy-bg-dark {background: #E84545;}
.qdy-social-icons li a {color: #E84545;}
#qdy-about .qdy-social-icons li a:hover {background: #E84545;}

.timeline > li > .timeline-badge {background-color: #E84545;}

#qdy-started .btn {color: #E84545;}

.btn-primary {background: #E84545;border: 2px solid #E84545;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {background: #eb5c5c !important;border-color: #eb5c5c !important;}
.btn-primary.btn-outline {color: #E84545;border: 2px solid #E84545;}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {background: #E84545;}

.form-control:active, .form-control:focus {border-color: #E84545;}